#inbox th {
	font-size: 18px;
}

#account-management {
	margin-top: 20px;
}

#account-management .input-group-btn button {
	width: 80px;
}

#account-management input[readonly] {
	cursor: default;
	background-color: #ffffff;
}

#inbox tbody tr {
	cursor: pointer;
}

#inbox tbody tr.unread {
	font-weight: bold;
}