#inbox th {
	font-size: 18px;
}

#account-management {
	margin-top: 20px;
}

#account-management .input-group-btn button {
	width: 80px;
}

#account-management input[readonly] {
	cursor: default;
	background-color: #ffffff;
}

#inbox tbody tr {
	cursor: pointer;
}

#inbox tbody tr.unread {
	font-weight: bold;
}

#message-modal .modal-subtitle {
	font-style: italic;
}

#message-modal .modal-subtitle strong {
	display: inline-block;
	width: 40px;
}

#message-modal .attachments {
	text-align: left;
	list-style: none;
	padding-left: 0;
}

#message-modal .attachments a {
	margin-left: 7px;
}